@import url("reset.css");
@import url("variables.css");

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--main-font-color);
}

/*----MASTHEAD----*/

body {
  background-color: hsl(240, 40%, 12%);
  /*background-color: #191970;*/
}

.mastheader {
  background-color: var(--main-background-color);
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 1rem 1.25rem 0.5rem 1.25rem;
  font-size: 0.875rem;
}

.menu-icon {
  background-image: url("../img/menu-icon2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1.25rem;
  height: 1.25rem;
  margin-bottom: 10px;
}

.logo {
  text-transform: uppercase;
  font-family: Permanent Marker, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.menu {
  text-align: right;
}

.submenu {
  display: none;
  text-transform: uppercase;
  font-family: Quicksand, sans-serif;
  font-size: 1.2rem;
}

.submenu-item {
  margin-bottom: 5px;
  background-color: #191970;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  border: 2px solid transparent;
}

.submenu-item:last-child {
  margin-bottom: 0;
}

ul.menu > li:hover > ul.submenu {
  display: block;
}

/*PROMO*/

.promo-title {
  text-transform: uppercase;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--main-font-color);
  text-align: center;
  margin-top: 70px;
  margin-bottom: 5px;
}

.promo-subtitle {
  font-family: Rock salt, serif;
  font-weight: 200;
  font-size: 1rem;
  color: var(--main-font-color);
  text-align: center;
  margin-bottom: 30px;
}

.promo-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo-btn {
  text-transform: uppercase;
  text-align: center;
  background-color: blue;
  padding: 5px;
  width: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: Quicksand, serif;
  font-weight: 200;
  font-size: 1rem;
  color: var(--main-font-color);
}

@media (min-width: 768px) {
  .logo {
    text-transform: uppercase;
    font-family: Permanent Marker, sans-serif;
    font-weight: 400;
    font-size: 2rem;
  }

  .menu-icon {
    display: none;
  }

  .submenu {
    display: flex;
  }

  .submenu-item {
    margin-right: 15px;
    margin-bottom: 0;
  }

  .submenu-item:hover {
    border: 2px solid #fff;
  }

  ul.menu > li:hover > ul.submenu {
    display: flex;
  }

  .submenu-item:last-child {
    margin-right: 0;
  }
}
