@import url("reset.css");
@import url("variables.css");

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--main-font-color);
}

/*----MASTHEAD----*/

body {
  background-color: #191970;
}

.mastheader {
  background-color: var(--main-background-color);
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom: 2px solid #fff;
  padding: 1.5rem 1rem 0 1rem;
  font-size: 0.875rem;
}

.menu-icon {
  background-image: url("../img/menu-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1rem;
  height: 1rem;
}

.logo {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.submenu {
  display: none;
  text-transform: uppercase;
  padding: 0.5rem;
}

ul.menu > li:hover > ul.submenu {
  display: block;
}
