@import "./normalize";
@import "./base";

/*---VARIABLES---*/
$main-font-color: #000000;
$second-font-color: #ffffff;
$accent-color: #ff0000;

@import "./promo";
@import "./tech";
@import "./review";
@import "./contacts";
