@import "./normalize";
@import "./base";
@import "./promo-text";
@import "./page";
@import url("https://fonts.googleapis.com/css?family=Staatliches");

.promo-container {
  background-image: url("/images/macbook.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 40px;
  padding-bottom: 40px;
  min-height: 80vh;
  transform-style: inherit;
}

.promo-wrapper {
  max-width: 1320px;
  margin: auto;
  padding-top: 130px;
  margin-bottom: 50px;
  text-align: center;
}

.promo-title {
  font-size: 36px;
  font-weight: 500;
  margin: auto;

  margin-bottom: 15px;
  width: 90%;
  opacity: 0;
}

.promo-img {
  width: 150px;
  margin: auto;
  filter: grayscale(10%);
  border: 2px solid red;
  border-radius: 45px;
  transform: rotate(-45deg) translateY(-30px) translateX(30px);
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.3);
}

.promo-img::before {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.promo-subtitle {
  font-weight: 300;
  margin: 0 5% 10px 5%;
  opacity: 0;
}

.promo-text {
  font-weight: 300;
  margin: 0 10% 10px 10%;
  color: #ff0000;

  opacity: 0;
}

.review-box {
  width: 100%;
  margin-bottom: 40px;
}

.review-name {
  font-size: 32px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  color: black;
}

.review-item {
  max-width: 180px;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

.review-item:last-child {
  margin-bottom: 0;
}

.review-head {
  position: relative;
  height: 100px;
  border-radius: 25px 25px 0 0;
  text-align: center;
  border: 2px solid red;
  border-bottom: none;
}

.review-head:hover .review-logo {
  filter: grayscale(0%);
  transition: 0.5s;
}

.review-head-merkury {
  background-color: rgba(0, 0, 0, 0.9);
}

.review-logo {
  height: 80px;
  padding: 25px 15px 0 15px;
  filter: grayscale(100%);
}

.review-logo-merkury {
  height: 70px;
  padding: 30px 15px 0 15px;
}

.review-title {
  padding-left: 10px;
  margin: 0;
  color: black;
}

.review-body {
  position: relative;
  height: 30px;
  background: #fff;
  border-radius: 0 0 25px 25px;
  border-top: 2px solid #c2c2c5;
  padding: 5px;
}

.social-box {
  margin-bottom: 40px;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-link {
  margin-right: 15px;
}

.social-item:last-child {
  margin: 0;
}

.social-link {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  border: 2px solid transparent;
}

.social-link:hover {
  transform: scale(1.2);
  border: 3px solid red;
  transition: 0.4s;
}

.cert-box {
  width: 160px;
  margin: auto;
  opacity: 0.1;
  box-shadow: 0 0 40px 16px rgba(0, 0, 0, 0.22);
  border-radius: 25px;
}

.cert-head {
  position: relative;
  height: 100px;
  border-radius: 25px 25px 0 0;
  text-align: center;
  border: 2px solid red;
  border-bottom: none;
  padding: 15px 20px 0 20px;
  //background-color: rgba(0, 0, 0, 0.7);
}

.cert-img {
  filter: grayscale(100%);
}

.cert-img:hover {
  filter: grayscale(0%);
  transition: 0.4s;
}

.cert-body {
  position: relative;
  height: 30px;
  background: #fff;
  border-radius: 0 0 25px 25px;
  padding: 5px;
}

.cert-title {
  padding-left: 10px;
  margin: 0;
  color: black;
}

/*----POPUP----*/

.success {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  color: black;
  text-align: center;
}

.active {
  display: block;
}

.popup {
  position: absolute;
  width: 350px;
  height: 130px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: #fff;
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.close-popup:before {
  content: "";
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
}

.close-popup:after {
  content: "";
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px;
}

@media (min-width: 676px) {
  .promo-container {
    min-height: 90vh;
  }

  .promo-wrapper {
    background-size: cover;
    margin-bottom: 100px;
    padding-top: 180px;
  }

  .promo-img {
    width: 200px;
  }

  .promo-title {
    text-align: center;
  }

  .promo-subtitle {
    text-align: center;
  }

  .promo-text {
    text-align: center;
  }

  .review-wrapper {
    margin-bottom: 100px;
  }

  .review-box {
    display: flex;
    justify-content: center;
  }

  .review-item {
    margin: 0;
    margin-right: 60px;
  }

  .review-item:last-child {
    margin: 0;
  }

  .social-box {
    margin-bottom: 100px;
  }

  .social-item {
    margin: 0;
    margin-right: 60px;
  }

  .social-item:last-child {
    margin: 0;
  }
}
