.tech-wrapper {
  max-width: 1320px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.tech-title-main {
  font-size: 32px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  color: $main-font-color;
  width: 100%;
}

.tech-box {
  flex-basis: 90%;
  margin: auto;
  margin-bottom: 80px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 20px;

  &:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.tech-box ul i{
    content: '\2022';
    width: 10px;
    height: 10px;
}

.tech-box-main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  color: $main-font-color;
  min-width: 320px;
}

.tech-box-mini {
  flex-basis: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;

  &:last-child {
    margin: 0;
  }
}

.tech-part {
  display: flex;
  flex-direction: column;
}

.tech-part ul li {
  font-size: 16px;
  list-style-type: disc;
  margin-left: 18px;
  margin-bottom: 10px;
}

.tech-box-mini span {
  margin-bottom: 10px;
}

.tech-title {
  font-size: 18px;
  flex-basis: 100%;
  margin: 0;
  margin-bottom: 30px;
}

.tech-price {
  font-weight: 700;
  text-align: right;
}

.tech-name {
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: $main-font-color;
}

.tech-name b {
  font-weight: 100;
  font-size: 18px;
}

.tech-text {
  font-size: 16px;
  font-weight: 100;
  line-height: 23px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: $main-font-color;
  text-align: left;
}

.tech-text b {
  font-weight: 700;
}

.tech-list {
  color: $main-font-color;
  margin-bottom: 20px;
}

.tech-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.tech-item img {
  width: 25px;
  margin-right: 10px;
}

.tech-item-name {
  font-size: 15px;
  margin: 0;
}

.tech-img {
  width: 100%;
  filter: grayscale(100%);
}

.tech-box-btn {
  flex-basis: 100%;
  text-align: center;
  margin-top: 40px;
}

.tech-btn {
  background-color: $accent-color;
  border-radius: 25px;
  padding: 15px 30px;
  color: $second-font-color;
}

@media (min-width: 676px) {
  .tech-wrapper {
    justify-content: space-around;
  }

  .tech-box {
    flex-basis: 48%;
    margin: 0;
    margin-bottom: 30px;
    //margin: 0;
    //margin-right: 50px;
  }

  .tech-box-main {
    flex-basis: 98%;
    flex-direction: row;
  }

  .tech-box-mini {
    margin-bottom: 0;
  }

  .tech-part span {
    font-size: 18px;
  }

  .tech-box .tech-text {
    text-align: justify;
    font-size: 18px;
  }

  .tech-name {
    font-size: 24px;
  }

  .tech-item-name {
    font-size: 18px;
  }

  .tech-item img {
    width: 25px;
    margin-right: 15px;
  }
}
