@import url("resets.css");
@import url("variables.css");

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--main-font-color);
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/*----MASTHEAD----*/
li {
  list-style: none;
}
.promo-wrapper {
  background-image: url(/img/Graph-bg.png), url(/img/Grid-bg.png),
    url(/img/background.png);
  background-repeat: no-repeat;
  background-position: center, top, center;
  background-size: contain, cover, cover;
  min-height: 1100px;
}

.promo-container {
  max-width: 1200px;
  margin: auto;
}

.masthead {
  display: flex;
  justify-content: space-between;
  min-height: 135px;
  align-items: center;
}

.masthead-menu {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.menu-items {
  margin-right: 50px;
}

.menu-items:last-child {
  margin: 0;
}

.menu-link {
  text-decoration: none;
  color: var(--main-font-color);
  border-bottom: 2px solid transparent;
  padding: 15px 0;
}

.menu-link:hover {
  border-bottom: 2px solid var(--third-font-color);
  transition: 0.2s;
}

.menu-btn {
  color: var(--third-font-color);
  text-decoration: none;
  border: 1px solid var(--third-font-color);
  border-radius: 30px;
  padding: 15px 43px;
}

.menu-btn:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  transition: 0.4s;
}

/*---PROMO---*/

.promo {
  max-width: 880px;
  margin: auto;
  text-align: center;
  margin-top: 110px;
}

.promo-title {
  color: var(--main-font-color);
  font-size: 60px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 30px;
}

.promo-subtitle {
  margin-top: 0px;
  margin-bottom: 90px;
  color: var(--fourth-font-color);
  font-size: 36px;
  font-weight: 400;
}

.promo-btn {
  font-size: 18px;
  font-weight: 700;
  border: 1px solid none;
  border-radius: 30px;
  padding: 16px 55px;
  background-color: #5584ff;
  margin-bottom: 0;
  margin-top: 0;
}

.promo-btn:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: var(--third-font-color);
  transform: scale(1.1);
  transition: 0.4s;
}

.promo-img {
  box-shadow: 0px 0px 118px 20px rgba(85, 132, 255, 0.37);
  transform: translate(0, 140px);
}

/*---SERVICE---*/

.service-wrapper {
  text-align: center;
}

.service-box {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding-top: 260px;
  padding-left: 0;
}

.service-item {
  justify-content: space-between;
  max-width: 370px;
  margin-right: 125px;
}

.service-item:last-child {
  margin-right: 0px;
}

.service-icon {
  margin-top: 0px;
  margin-bottom: 55px;
  max-height: 80px;
}

.service-line {
  transform: translate(100px, 40px);
  position: absolute;
}

.service-title {
  margin-top: 0px;
  margin-bottom: 34px;
  color: var(--second-font-color);
  font-size: 24px;
  font-weight: 700;
}

.service-text {
  margin-top: 0px;
  margin-bottom: 55px;
  color: var(--fourth-font-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.service-btn {
  margin: 0;
  margin-bottom: 0;
  color: var(--second-font-color);
  font-size: 18px;
  font-weight: 700;
  border: 1px solid var(--fourth-font-color);
  border-radius: 30px;
  padding: 15px 85px;
}

.service-btn:hover {
  background-color: var(--third-font-color);
  color: #ffffff;
  transition: 0.3s;
}

/*----NEEDS----*/

.needs-wrapper {
  display: flex;
  margin-left: 20%;
  max-width: 1735px;
  padding-top: 220px;
}

.need-info {
  max-width: 20%;
}

.needs-title {
  margin: 0;
  margin-bottom: 60px;
  color: var(--second-font-color);
  font-size: 60px;
  font-weight: 100;
}

.needs-checklist {
  padding: 0;
}

.needs-text {
  margin: 0;
  margin-bottom: 45px;
  color: var(--fourth-font-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.needs-checklist__item {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.checklist-icon {
  height: 30px;
}

.checklist-title {
  margin: 0;
  margin-left: 20px;
  color: var(--third-font-color);
  font-size: 22px;
  font-weight: 400;
}

.needs-img {
  max-width: 60%;
  max-height: 630px;
}

@media (max-width: 768px) {
  .promo-wrapper {
    min-height: 600px;
    background-size: contain, contain, cover;
    background-position: center;
  }

  .promo-img {
    display: none;
  }
}

/*-----TASKS-----*/

.tasks-wrapper {
  min-height: 752px;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  background-image: url(/img/Graph-bg.png), url(/img/Grid-bg.png),
    url(/img/background.png);
  background-repeat: no-repeat;
  background-position: center, top, center;
  background-size: contain, cover, cover;
}

.tasks-item {
  color: var(--main-font-color);
  font-size: 31px;
  font-weight: 500;
}

.tasks-status {
  margin: 0;
  margin-bottom: 30px;
}

.task {
  height: 210px;
}

.tasks-drop {
  border: 1px dashed var(--fourth-font-color);
  padding: 38px 148px;
  color: var(--fourth-font-color);
  font-size: 20px;
  font-weight: 500;
}

.task-description {
  margin-left: 175px;
  max-width: 530px;
  padding-top: 60px;
}

.task-name {
  margin: 0;
  margin-bottom: 45px;
  color: var(--main-font-color);
  font-size: 60px;
  font-weight: 100;
}

.task-text {
  margin: 0;
  margin-bottom: 40px;
  color: var(--fourth-font-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/*-----REVIEW-----*/

.review-wrapper {
  max-width: 1400px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.review-notes {
  background-image: url("/img/review.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px;
  height: 680px;
  padding-top: 100px;
}

.review-title {
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 60px;
}

.review-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 70%;
  margin: auto;
  padding-bottom: 90px;
  color: var(--fourth-font-color);
}

.review-name-left {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  margin-right: 50%;
  margin-bottom: 30px;
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 2px solid #5584ff;
}

.review-name-left::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  transform: translate(0, 33px);
  border-radius: 50%;
  background-color: #5584ff;
  animation: radial-pulse 1s infinite;
}

.review-note-text-left {
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  width: 15%;
  color: var(--fourth-font-color);
  margin-bottom: 140px;
}

.review-name-right {
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  margin-left: 54%;
  margin-bottom: 30px;
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 2px solid #5584ff;
}

.review-name-right::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: 46%;
  transform: translate(0, 33px);
  border-radius: 50%;
  background-color: #5584ff;
  animation: radial-pulse 1s infinite;
}

.review-note-text-right {
  text-align: right;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-left: 85%;
  color: var(--fourth-font-color);
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px #95b2fd;
  }

  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

/*-----PRICE-----*/

.price-wrapper {
  text-align: center;
}

.price-title {
  flex-basis: 100%;
  font-size: 60px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 90px;
}

.plan-list {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.plan-item {
  text-align: center;
  margin-right: 85px;
  padding: 45px 52px;
  box-shadow: 0px 0px 30px 10px #f4f4f5;
}

.plan-item:last-child {
  margin-right: 0;
}

.plan-name {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.48px;
  margin-bottom: 50px;
}

.plan-price {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 1.44px;
  margin-bottom: 50px;
}

.plan-price::after {
  content: "/mon";
  color: #8492af;
  font-size: 24px;
  font-weight: 400;
}

.plan-price::before {
  content: "$";
  font-size: 40px;
  font-weight: 700;
}

.plan-pluses {
  padding: 0;
}

.plan-pluses li {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.plan-pluses-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--fourth-font-color);
}

.far {
  margin-right: 15px;
}

.fa-check-circle {
  color: #5284ff;
}

.fa-times-circle {
  color: red;
}

.price-text {
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 18px;
  font-weight: 400;
  color: var(--fourth-font-color);
  margin-bottom: 65px;
  line-height: 30px;
}

.price-btn {
  border-radius: 24px;
  border: 2px solid transparent;
  background-color: #5584ff;
  padding: 16px 62px;
  margin-bottom: 50px;
}

.price-btn:hover {
  background-color: #ffffff;
  border: 2px solid#5584ff;
  color: #5584ff;
  transition: 0.4s;
}

/*---fOOTER----*/

.footer-wrapper {
  background-color: #0e1a35;
}

.footer {
  color: var(--fourth-font-color);
  display: flex;
  justify-content: space-between;
  max-width: 1470px;
  margin: auto;
  padding: 70px 0;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 18px;
  font-weight: 400;
}

.footer-item {
  font-size: 18px;
  font-weight: 400;
  margin-right: 50px;
}

.footer-item a {
  color: var(--fourth-font-color);
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icon {
  margin-right: 20px;
}

.social-icon a {
  color: var(--fourth-font-color);
}

.social-icon:last-child {
  margin-right: 0;
}
