.carousel {
  margin: auto;
  font-family: Jura;
  font-size: 30px;
  
  /* background-image: url("../img/carousel-background.png");*/
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__item {
  text-align: center;
}
