$main-font-color: #ffffff;
$second-font-color: #333333;
$third-font-color: #f38181;
$main-font-family: Montserrat, sans-serif;
$second-font-family: Roboto, sans-serif;
$third-font-family: Kaushan Script, sans-serif;
